$body-bg: #cccccc;
$btn-bevel-down: 3px 2px 8px -1px RGBA(0, 0, 0, 0.6),
                 inset 3px 3px 5px 0px RGBA(255, 255, 255, 0.4),
                 inset -13px -14px 10px -11px RGBA(0, 0, 0, 0.4);
$btn-bevel-up: inset 3px 3px 5px 0px RGBA(0,0,0,0.4), 
               inset -3px -3px 5px 0px RGBA(255,255,255,0.4);
$input-placeholder-color: #a9a9a9;
